.fixed {
  position: fixed;
  inset: 0;
}

.absolute {
  position: absolute;
  inset: 0;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterSpace {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconWrapper {
  cursor: pointer;
  height: 50px;
  width: 50px;
  @extend .flexCenter;
}

.customScroll {
  scrollbar-width: thin;
  -ms-overflow-style: none;
  scrollbar-color: var(--scroll-color) transparent;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.size {
  max-width: var(--max-width);
  margin: 0 auto;
  border-left: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-color);
}