.home {
  padding-top: 4rem;

  %noText {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &Title {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    @extend %noText;
  }

  &SubTitle {
    max-width: 800px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 0;
    color: var(--text-color);
    @extend %noText;
  }
}

.text {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.infos {

  .homeDetails {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 4rem 0 0;

    .aboutMe, .aboutMeReverse {
      position: relative;
      //  clip-path: polygon(100% 0, 0% 0%, 0% 99%, 100% 100%, 90% 81%, 90% 25%);
      background-color: var(--app-card-color);
      padding: 2rem 6rem 2rem var(--common-h-padding);
      margin: 4rem 0;
      height: 300px;
      flex: 1;
      overflow: hidden;

      .hider, .hiderReverse {
        background-color: var(--app-color);
        height: 250px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        right: -3rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 12;
        // backdrop-filter: blur(var(--blur-value));
      }

      .reOrder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%
      }
    }

    .aboutMeReverse {
      padding: 2rem var(--common-h-padding) 2rem 6rem;

      .hiderReverse {
        right: unset;
        left: -3rem;
      }
    }

    .aboutMeMobile {
      @extend .aboutMe,
    }

    .aboutMeReverseMobile {
      @extend .aboutMeReverse,
    }

    .aboutMeMobile, .aboutMeReverseMobile {
      display: none;
    }

    .picture {
      background-image: var(--me-url);
      background-size: cover;
      background-position: center center;
      background-color: var(--primary-color-soft);
      border-radius: 50%;
      height: 400px;
      width: 400px;
      z-index: 14;

    }
  }
}

.space {
  margin: 0 0 4rem;
}

.commonCard {
  position: relative;
  background-color: var(--app-card-color);
  padding: 2rem var(--common-h-padding);
  margin-bottom: 4rem;
  margin-top: 4rem;
  height: 450px;
  width: 100%;
  border: none;
}

.bio {
  // clip-path: polygon(0 100%, 0 0, 38% 0, 40% 10%, 60% 10%, 62% 0, 100% 0, 100% 100%);
  clip-path: polygon(0 95%, 0 0, 38% 0, 40% 10%, 60% 10%, 62% 0, 100% 0, 100% 95%, 50% 100%);
  margin-top: -2rem;
  @extend .commonCard;
  margin-bottom: 3rem;

  .hider {
    // backdrop-filter: blur(var(--blur-value));
    background-color: var(--app-color);
    height: 190px;
    width: 360px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -116px;
    z-index: 12;
  }
}

.goalTitle {
  margin-top: 4rem;
  margin-bottom: 2rem;
  @extend .homeTitle
}

.citeClassName {
  display: flex;
  align-items: center;
  justify-content: center;

  cite {
    margin-top: 2rem;
    color: var(--text-color);
  }
}

.infosContent {
  margin-bottom: 1rem;

  .infoTitle {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .labelNumber {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    height: 30px;

    .title {
      font-size: 1rem;
    }

    .infinite {
      font-size: 2rem;
    }
  }
}

.progressBar {
  width: 100%;
  border-radius: 12px;
  position: relative;
  height: 25px;

  .insetBar {
    padding: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    box-shadow: inset 1px 0 7px 0 var(--navbar-shadow);
    z-index: 1;
  }

  .bar {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: var(--primary-color);
    z-index: 2;
  }


}

.projectsCard {
  @extend .commonCard;
  margin-top: 6rem;
  height: auto;
  clip-path: polygon(0 95%, 0 10%, 38% 15%, 40% 0, 60% 0, 62% 15%, 100% 10%, 100% 95%, 50% 100%);

  .projectsTitle {
    margin-bottom: 2rem;
    @extend .homeTitle;
    margin-top: -.1rem;
  }

  .cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin: 8rem 0 6rem;

    .card {
      height: 400px;
      border-radius: 8px;
      box-shadow: 0 2px 4px var(--navbar-shadow);
      background-image: var(--p-url);
      background-size: cover;
      background-position: center center;
      position: relative;
      overflow: hidden;
      clip-path: polygon(0 100%, 0 0, 55% 0, 73% 31%, 100% 32%, 100% 100%);

      .gradient {
        position: absolute;
        background-image: linear-gradient(to bottom, #13b0f32a, var(--primary-color), var(--app-color));
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .content {
        display: none;
        background: var(--app-card-color);
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 70%;
        clip-path: polygon(0 100%, 0 0, 55% 0, 73% 31%, 100% 32%, 100% 100%)
      }
    }
  }

  .moreProjects {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      // background-color: #1c1c1c;
      padding: 1.5rem 3rem;
      align-self: center;
      border-radius: 8px;
      cursor: pointer;
      color: var(--primary-color);
      font-size: 1.3rem;
      font-weight: bold;
      // box-shadow: 1px 0 7px 0 var(--navbar-shadow);
    }
  }
}

.footerSection {
  @extend .commonCard;
  margin-top: 6rem;
  height: auto;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  clip-path: polygon(0 95%, 0 10%, 38% 15%, 40% 0, 60% 0, 62% 15%, 100% 10%, 100% 95%, 50% 100%);

  .footerTitle {
    margin-bottom: 2rem;
    @extend .homeTitle;
    margin-top: -.1rem;
  }

  .infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    &El {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      cursor: pointer;

      &:hover {
        --text-color: var(--primary-color);
      }

      &Label {
        font-size: 1.3rem;
        color: var(--text-color);
        text-decoration: underline;
        text-underline-offset: 12px;
        transition: all .3s cubic-bezier(.01, .4, .11, .44);
      }

    }
  }
}

.thankYou {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 2rem;
}

.ideaClassName {
  display: none;
}

@media screen and (max-width: 1200px) {

  .home {
    padding-top: 0;

    &Title {
      margin-top: 0;
      font-size: 2.4rem;
    }

    &SubTitle {
      margin-bottom: 2rem;
      margin-top: 0;
      font-size: 1.6rem;
    }
  }

  .ideaClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .infos {
    .homeDetails {
      flex-direction: column;
      margin-top: 0;

      .aboutMe, .aboutMeReverse {
        display: none;
      }

      .aboutMeMobile, .aboutMeReverseMobile {
        display: flex;
        clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
        width: 100%;
        padding: 4rem var(--common-h-padding);
        margin: 0;

        .reOrder {
          width: 100%;
        }

        .hider, .hiderReverse {
          display: none;
        }
      }

      .aboutMeReverseMobile {
        transform: rotateZ(0);
        margin-bottom: 2rem;

        .reOrder {
          transform: rotateZ(0);
          flex-direction: column-reverse;
        }
      }

      .picture {
        height: 250px;
        width: 250px;
      }
    }
  }
  .bio {
    height: auto;
    padding-bottom: 5rem;
    padding-top: 6rem;
    margin-bottom: 0;
    clip-path: polygon(0 95%, 0 0, 30% 0, 40% 10%, 60% 10%, 70% 0, 100% 0, 100% 95%, 50% 100%);

    .hider {
      width: 250px;
      top: -118px;
    }

    .citeClassName {
      text-align: center;
    }
  }

  .space {
    margin-bottom: 3rem;
  }

  .footerSection {
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    margin-top: 4rem;

    .footerTitle {
      margin-top: 2rem;
    }

    .infos {
      svg {
        height: 30px;
        width: 30px;
      }

      &El {
        font-size: 1rem;

        &Label {
          text-underline-offset: 6px;
        }
      }
    }
  }
}

@media screen and (max-width: 968px) {
  .home {
    &Title {
      font-size: 1.8rem;
    }

    &SubTitle {
      font-size: 1.2rem;
      padding: 0 1rem;
      margin-bottom: 1rem;
    }
  }

  .ideaClassName {
    svg {
      height: 60px;
      width: 60px;
    }
  }

  .infos {
    .homeDetails {
      .aboutMeMobile, .aboutMeReverseMobile {
        padding-bottom: 2rem;
        padding-top: 3rem;

        .reOrder {
          .infosContent {
            .infoTitle {
              font-size: 1rem;
            }

            .labelNumber {
              margin-top: 0;

              .infinite {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .aboutMeReverseMobile {
        margin-bottom: 1.6rem;
      }

      .picture {
        height: 150px;
        width: 150px;
      }
    }
  }

  .bio {
    height: auto;
    padding: 5rem .5rem 3rem;
    clip-path: polygon(0 95%, 0 0, 30% 0, 35% 8%, 65% 8%, 70% 0, 100% 0, 100% 95%, 50% 100%);

    .hider {
      width: 200px;
      top: -120px;
    }

    .goalTitle {
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }

    .citeClassName {
      text-align: center;
      font-size: 1rem;
    }
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .space {
    margin-bottom: 2.5rem;
  }

  .footerSection {
    margin-top: 2rem;
    margin-bottom: 0;

    .footerTitle {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .infos {
      row-gap: 1rem;

      svg {
        height: 25px;
        width: 25px;
      }

      &El {
        font-size: 1rem;

        &Label {
          text-underline-offset: 6px;
          font-size: 1rem;
        }
      }
    }
  }

  .thankYou {
    margin-bottom: 2rem;

    svg {
      height: 50px;
      width: 50px;
    }
  }
}

@media screen and (max-width: 700px) {
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 30% 6%, 70% 6%, 80% 0, 100% 0, 100% 95%, 50% 100%);

    .hider {
      height: 200px;
      width: 240px;
      top: -140px;
    }
  }

}

@media screen and (max-width: 570px) {
  .infos {
    flex-direction: column;
  }
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 40% 5%, 60% 5%, 80% 0, 100% 0, 100% 95%, 50% 100%);

    .hider {
      height: 200px;
    }
  }
}

@media screen and (max-width: 300px) {
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 40% 3%, 60% 3%, 80% 0, 100% 0, 100% 95%, 50% 100%);
  }
}
