.home {
  padding-top: 4rem;
}
.home .homeSubTitle, .home .homeTitle, .home .footerSection .footerTitle, .footerSection .home .footerTitle, .home .projectsCard .projectsTitle, .projectsCard .home .projectsTitle, .home .goalTitle {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.homeTitle, .footerSection .footerTitle, .projectsCard .projectsTitle, .goalTitle {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
}
.homeSubTitle {
  max-width: 800px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem auto 0;
  color: var(--text-color);
}

.text {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.infos .homeDetails {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 4rem 0 0;
}
.infos .homeDetails .aboutMe, .infos .homeDetails .aboutMeMobile, .infos .homeDetails .aboutMeReverse, .infos .homeDetails .aboutMeReverseMobile {
  position: relative;
  background-color: var(--app-card-color);
  padding: 2rem 6rem 2rem var(--common-h-padding);
  margin: 4rem 0;
  height: 300px;
  flex: 1;
  overflow: hidden;
}
.infos .homeDetails .aboutMe .hider, .infos .homeDetails .aboutMeMobile .hider, .infos .homeDetails .aboutMe .hiderReverse, .infos .homeDetails .aboutMeMobile .hiderReverse, .infos .homeDetails .aboutMeReverse .hider, .infos .homeDetails .aboutMeReverseMobile .hider, .infos .homeDetails .aboutMeReverse .hiderReverse, .infos .homeDetails .aboutMeReverseMobile .hiderReverse {
  background-color: var(--app-color);
  height: 250px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 12;
}
.infos .homeDetails .aboutMe .reOrder, .infos .homeDetails .aboutMeMobile .reOrder, .infos .homeDetails .aboutMeReverse .reOrder, .infos .homeDetails .aboutMeReverseMobile .reOrder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.infos .homeDetails .aboutMeReverse, .infos .homeDetails .aboutMeReverseMobile {
  padding: 2rem var(--common-h-padding) 2rem 6rem;
}
.infos .homeDetails .aboutMeReverse .hiderReverse, .infos .homeDetails .aboutMeReverseMobile .hiderReverse {
  right: unset;
  left: -3rem;
}
.infos .homeDetails .aboutMeMobile, .infos .homeDetails .aboutMeReverseMobile {
  display: none;
}
.infos .homeDetails .picture {
  background-image: var(--me-url);
  background-size: cover;
  background-position: center center;
  background-color: var(--primary-color-soft);
  border-radius: 50%;
  height: 400px;
  width: 400px;
  z-index: 14;
}

.space {
  margin: 0 0 4rem;
}

.commonCard, .footerSection, .projectsCard, .bio {
  position: relative;
  background-color: var(--app-card-color);
  padding: 2rem var(--common-h-padding);
  margin-bottom: 4rem;
  margin-top: 4rem;
  height: 450px;
  width: 100%;
  border: none;
}

.bio {
  clip-path: polygon(0 95%, 0 0, 38% 0, 40% 10%, 60% 10%, 62% 0, 100% 0, 100% 95%, 50% 100%);
  margin-top: -2rem;
  margin-bottom: 3rem;
}
.bio .hider {
  background-color: var(--app-color);
  height: 190px;
  width: 360px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -116px;
  z-index: 12;
}

.goalTitle {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.citeClassName {
  display: flex;
  align-items: center;
  justify-content: center;
}
.citeClassName cite {
  margin-top: 2rem;
  color: var(--text-color);
}

.infosContent {
  margin-bottom: 1rem;
}
.infosContent .infoTitle {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
}
.infosContent .labelNumber {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  height: 30px;
}
.infosContent .labelNumber .title {
  font-size: 1rem;
}
.infosContent .labelNumber .infinite {
  font-size: 2rem;
}

.progressBar {
  width: 100%;
  border-radius: 12px;
  position: relative;
  height: 25px;
}
.progressBar .insetBar {
  padding: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  box-shadow: inset 1px 0 7px 0 var(--navbar-shadow);
  z-index: 1;
}
.progressBar .bar {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: var(--primary-color);
  z-index: 2;
}

.projectsCard {
  margin-top: 6rem;
  height: auto;
  clip-path: polygon(0 95%, 0 10%, 38% 15%, 40% 0, 60% 0, 62% 15%, 100% 10%, 100% 95%, 50% 100%);
}
.projectsCard .projectsTitle {
  margin-bottom: 2rem;
  margin-top: -0.1rem;
}
.projectsCard .cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin: 8rem 0 6rem;
}
.projectsCard .cardWrapper .card {
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--navbar-shadow);
  background-image: var(--p-url);
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 100%, 0 0, 55% 0, 73% 31%, 100% 32%, 100% 100%);
}
.projectsCard .cardWrapper .card .gradient {
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(19, 176, 243, 0.1647058824), var(--primary-color), var(--app-color));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.projectsCard .cardWrapper .card .content {
  display: none;
  background: var(--app-card-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70%;
  clip-path: polygon(0 100%, 0 0, 55% 0, 73% 31%, 100% 32%, 100% 100%);
}
.projectsCard .moreProjects {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsCard .moreProjects .button {
  padding: 1.5rem 3rem;
  align-self: center;
  border-radius: 8px;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: bold;
}

.footerSection {
  margin-top: 6rem;
  height: auto;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  clip-path: polygon(0 95%, 0 10%, 38% 15%, 40% 0, 60% 0, 62% 15%, 100% 10%, 100% 95%, 50% 100%);
}
.footerSection .footerTitle {
  margin-bottom: 2rem;
  margin-top: -0.1rem;
}
.footerSection .infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.footerSection .infosEl {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}
.footerSection .infosEl:hover {
  --text-color: var(--primary-color);
}
.footerSection .infosElLabel {
  font-size: 1.3rem;
  color: var(--text-color);
  text-decoration: underline;
  text-underline-offset: 12px;
  transition: all 0.3s cubic-bezier(0.01, 0.4, 0.11, 0.44);
}

.thankYou {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 2rem;
}

.ideaClassName {
  display: none;
}

@media screen and (max-width: 1200px) {
  .home {
    padding-top: 0;
  }
  .homeTitle, .goalTitle, .projectsCard .projectsTitle, .footerSection .footerTitle {
    margin-top: 0;
    font-size: 2.4rem;
  }
  .homeSubTitle {
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: 1.6rem;
  }
  .ideaClassName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .infos .homeDetails {
    flex-direction: column;
    margin-top: 0;
  }
  .infos .homeDetails .aboutMe, .infos .homeDetails .aboutMeMobile, .infos .homeDetails .aboutMeReverse, .infos .homeDetails .aboutMeReverseMobile {
    display: none;
  }
  .infos .homeDetails .aboutMeMobile, .infos .homeDetails .aboutMeReverseMobile {
    display: flex;
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    width: 100%;
    padding: 4rem var(--common-h-padding);
    margin: 0;
  }
  .infos .homeDetails .aboutMeMobile .reOrder, .infos .homeDetails .aboutMeReverseMobile .reOrder {
    width: 100%;
  }
  .infos .homeDetails .aboutMeMobile .hider, .infos .homeDetails .aboutMeMobile .hiderReverse, .infos .homeDetails .aboutMeReverseMobile .hider, .infos .homeDetails .aboutMeReverseMobile .hiderReverse {
    display: none;
  }
  .infos .homeDetails .aboutMeReverseMobile {
    transform: rotateZ(0);
    margin-bottom: 2rem;
  }
  .infos .homeDetails .aboutMeReverseMobile .reOrder {
    transform: rotateZ(0);
    flex-direction: column-reverse;
  }
  .infos .homeDetails .picture {
    height: 250px;
    width: 250px;
  }
  .bio {
    height: auto;
    padding-bottom: 5rem;
    padding-top: 6rem;
    margin-bottom: 0;
    clip-path: polygon(0 95%, 0 0, 30% 0, 40% 10%, 60% 10%, 70% 0, 100% 0, 100% 95%, 50% 100%);
  }
  .bio .hider {
    width: 250px;
    top: -118px;
  }
  .bio .citeClassName {
    text-align: center;
  }
  .space {
    margin-bottom: 3rem;
  }
  .footerSection {
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    margin-top: 4rem;
  }
  .footerSection .footerTitle {
    margin-top: 2rem;
  }
  .footerSection .infos svg {
    height: 30px;
    width: 30px;
  }
  .footerSection .infosEl {
    font-size: 1rem;
  }
  .footerSection .infosElLabel {
    text-underline-offset: 6px;
  }
}
@media screen and (max-width: 968px) {
  .homeTitle, .goalTitle, .projectsCard .projectsTitle, .footerSection .footerTitle {
    font-size: 1.8rem;
  }
  .homeSubTitle {
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .ideaClassName svg {
    height: 60px;
    width: 60px;
  }
  .infos .homeDetails .aboutMeMobile, .infos .homeDetails .aboutMeReverseMobile {
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  .infos .homeDetails .aboutMeMobile .reOrder .infosContent .infoTitle, .infos .homeDetails .aboutMeReverseMobile .reOrder .infosContent .infoTitle {
    font-size: 1rem;
  }
  .infos .homeDetails .aboutMeMobile .reOrder .infosContent .labelNumber, .infos .homeDetails .aboutMeReverseMobile .reOrder .infosContent .labelNumber {
    margin-top: 0;
  }
  .infos .homeDetails .aboutMeMobile .reOrder .infosContent .labelNumber .infinite, .infos .homeDetails .aboutMeReverseMobile .reOrder .infosContent .labelNumber .infinite {
    font-size: 1rem;
  }
  .infos .homeDetails .aboutMeReverseMobile {
    margin-bottom: 1.6rem;
  }
  .infos .homeDetails .picture {
    height: 150px;
    width: 150px;
  }
  .bio {
    height: auto;
    padding: 5rem 0.5rem 3rem;
    clip-path: polygon(0 95%, 0 0, 30% 0, 35% 8%, 65% 8%, 70% 0, 100% 0, 100% 95%, 50% 100%);
  }
  .bio .hider {
    width: 200px;
    top: -120px;
  }
  .bio .goalTitle {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .bio .citeClassName {
    text-align: center;
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .space {
    margin-bottom: 2.5rem;
  }
  .footerSection {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .footerSection .footerTitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .footerSection .infos {
    row-gap: 1rem;
  }
  .footerSection .infos svg {
    height: 25px;
    width: 25px;
  }
  .footerSection .infosEl {
    font-size: 1rem;
  }
  .footerSection .infosElLabel {
    text-underline-offset: 6px;
    font-size: 1rem;
  }
  .thankYou {
    margin-bottom: 2rem;
  }
  .thankYou svg {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 700px) {
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 30% 6%, 70% 6%, 80% 0, 100% 0, 100% 95%, 50% 100%);
  }
  .bio .hider {
    height: 200px;
    width: 240px;
    top: -140px;
  }
}
@media screen and (max-width: 570px) {
  .infos {
    flex-direction: column;
  }
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 40% 5%, 60% 5%, 80% 0, 100% 0, 100% 95%, 50% 100%);
  }
  .bio .hider {
    height: 200px;
  }
}
@media screen and (max-width: 300px) {
  .bio {
    clip-path: polygon(0 95%, 0 0, 20% 0, 40% 3%, 60% 3%, 80% 0, 100% 0, 100% 95%, 50% 100%);
  }
}

/*# sourceMappingURL=homeStyle.module.css.map */
