@import "../../assets/styles/extends";

.search {
  flex: 1;
  background-color: var(--muted-color);
  padding: 0 1rem;
  height: 40px;
  margin: 0 2rem;
  @extend .flexCenterSpace;
  column-gap: 1rem;
  border-radius: 25px;

  input {
    height: 100%;
    flex: 1;
    background-color: transparent;

  }
}